<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= csrf_meta_tag %>
  <title><%= t("sunrise.manage.page_title") %></title>
  <%= stylesheet_link_tag "devise/application" %>
  <%= yield(:head) %>
</head>
<body>
  
  <div class="devise_session_bg">
    <div class="devise_session_new">
      <%= yield %>
    </div>
  </div>

</body>
</html>
