<%= content_tag(:tr, :id => dom_id(event)) do -%>
  <td><%= I18n.l(event.created_at, :format => "%d.%m.%Y") %></td>
  <% if event.user -%>
    <td><%= link_to event.user.name, edit_path(:model_name => "users", :id => event.user_id) %></td>
  <% else -%>
    <td><%= event.username || [event.user_type, event.user_id].join('#') %></td>
  <% end -%>
  <td><%= event.action %></td>
  <td>
    <%= link_to_if ['create', 'update'].include?(event.action), 
      [event.auditable_type, event.auditable_id].join('#'), 
      edit_path(:model_name => event.auditable_type.tableize, :id => event.auditable_id) %>
  </td>
  <td><%= event.remote_address %></td>
<% end -%>
