<%=  javascript_include_tag 'fileupload/fileuploader', 'sunrise/manage-fileuploader'%>

<%= content_tag(:div, :class => 'fileupload', :id => element_id) do %>
  <div class="cover-select padder">
    <label><%= label %></label>  	
    <div class="dnd-area">
      <div class="fileupload-list ill-bl galery">
        <%= render :partial => 'sunrise/manager/fileupload/asset', :collection => assets %>
      </div>
      
      
	    <div class="dnd-hints fileupload-button">
		    <input type="button" class="button gray" value="<%= t('manage.fileupload.button') %>" />
		    или<span>Перетащите фотографию сюда</span>
	    </div>
	    
	    <div class="type-info">
        <span><%= file_title %>. <%= t('manage.fileupload.max_size') %>:</span><strong><%= file_max_size %> MB</strong>
      </div>
    </div>		
  </div>
<% end %>
  
<%= javascript_tag :language => "Javascript" do -%>
  $(document).ready(function(){
    new qq.FileUploaderInput(<%=raw script_options %>);
  });
<% end -%>




