<div class="bot-bg">
  <div class="filt-bl">
    <%= link_to_function t('manage.model_filter.title'), "Manage.toggle_element('block_filter')", :class=>"dark-arr" %>
    
    <%= t('manage.model_filter.total_count') %>: <%= @records.total_count %>
    
    <%= content_tag(:div, :id => "block_filter", :class => "filt") do %>
      <%= simple_form_for search_wrapper, :url => scoped_index_path,  :html =>{ :method => :get, :novalidate => true } do |f| %>
        <%= render :partial => 'sunrise/shared/parent' %>
        
        <% abstract_model.list.groups[:search].fields.each do |field| %>
          <%= f.input field.name, field.input_options.merge(:required => false) if field.visible?(f.object) %>
        <% end %>
        
        <div class="buts">
          <%= content_tag(:button, :value => "search", :type => "submit", :name => "commit", :class => "gr cupid-green") do %>
            <%= t('manage.model_filter.search') %>
          <% end %>
                          
          <%= link_to t('manage.model_filter.clear'), scoped_index_path, :class=>"erase" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
