<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<%= csrf_meta_tag %>
	<%= raw(render_meta_tags(@structure)) %>
	<title><%= render_page_title(@structure) %></title>
	<%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= yield(:head) %>
</head>
<body>
  <%#= render :partial => "manage/shared/panel" if content_manager? %>
  <%= render :partial => 'shared/notice' if flash %>
  
  <div class='content'>
    <%= yield %>
  </div>
  
  <%= yield(:footer) %>
</body>
</html>
