<%= content_tag(:div, :id => dom_id(record), :class => "dinamic-bl") do %>
  <div class="act-bl" style="display:none;">
    <%= link_to manage_icon("edit"), edit_path(:id => record.id), :class=>"icons", :id => dom_id(record, :edit) %>

    <%= link_to manage_icon("delete"), delete_path(:id => record.id), 
          :method=>:delete, :confirm=>t("manage.confirm_delete"), :class=>"icons", :id => dom_id(record, :delete) %>
  </div>
  
  <div class="bot-bg">
    <div class="dinamic-container">
    	<div class="right-data">	
        <div class="right-data-cont">
          <div class="dinamic-inner">
          	<div class="r-block">
              <div class="block-cont">
                <%= link_to @abstract_model.config.object_label_method, show_path(:id => record.id), :class=>"title" %>
                
                <table border="0" width="100%" cellspacing="0" cellpadding="0" class="inf">
                  <tr>
                    <td class="left">Section:</td>
                    <td><%#= category.section.try(:title) %></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="left-data">
        <span class="data"><%= raw I18n.l(record.created_at, :format=>"<span>%d/%m</span>%Y") %></span>
      </div>
    </div>
  </div>
<% end %>
