<%= content_tag(:div, id: dom_id(record), class: "main-item") do -%>
  <div class="check-block">
    <%= check_box_tag dom_id(record, :editable), record.id, false, name: :editable %>
  </div>
  <% if abstract_model.list.preview -%>
    <div class="img-block"><%= image_tag abstract_model.list.preview_for(record) %></div>
  <% end -%>
  <div class="data-block">
    <div class="top-info-bl">
      <%= manage_date_tag(record.created_at)%>
      <%= render partial: apply_scope("controls"), locals: {record: record} %>
    </div>
    <%= link_to record.send(abstract_model.config.object_label_method), show_model_path(abstract_model, record), clas:"item-title" %>

		<div class="bot-info-bl">
		  <% abstract_model.list.fields.each do |field| -%>
			  <div class="info-item">
			    <%= content_tag(:b, field.human_name) if field.label? %>
          <%= manage_render_field(field, record) %>
			  </div>
			<% end -%>
		</div>
  </div>
  <div class="but-block">
    <% if can?(:delete, record, context: :sunrise) %>
      <div class="act-but">
        <%= link_to image_tag('sunrise/empty.gif'), delete_path(abstract_model.parent_hash.merge(id: record.id)),
            method: :delete,
            data: {confirm: t("manage.confirm_delete") },
            clas:"but-container del",
            id: dom_id(record, :delete) %>
      </div>
    <% end %>

    <% if can?(:edit, record, context: :sunrise) %>
      <div class="act-but">
        <%= link_to image_tag('sunrise/empty.gif'), edit_path(abstract_model.parent_hash.merge(id: record.id)),
            clas:"but-container edit",
            id: dom_id(record, :edit) %>
      </div>
    <% end %>
  </div>
<% end -%>
