<div class="black-line">
	<div class="rel-holder">
		<div class="menu-holder">
			<ul class="main-menu">
				<li>
					<%= link_to index_path(:model_name => "structures"), :class => "ddmenu", :rel => "structures" do  %>
						<span class="modul">
							<span class="arr"><%= t 'manage.menu.title' %></span>
						</span>
					<% end %>
				</li>
				<li>
				  <%= link_to index_path(:model_name => "structures"), :class => "ddmenu", :rel => "actions" do %>
            <span class="create">
              <span class="arr"><%= t 'manage.menu.actions' %></span>
            </span>
          <% end %>
        </li>
			</ul>
			<ul class="main-menu right">
        <li><%= link_to t('manage.go_site'), main_app.root_path, :class => "watch" %></li>
        <li>
          <%= link_to index_path(:model_name => "users"), :class => "ddmenu", :rel => "user" do %>
            <span class="user">
              <span class="arr"><%= current_user.name %></span>
            </span>
          <% end %>
        </li>
				 <!--<li>
          <a href="#" class="minimize"><img src="images/top_hide.png" /></a>
        </li>-->
      </ul>
		</div>
		
		<div id="structures-container" class="sub-wrapper modul" style="display: none;">
			<div class="sub-inner">
				<ul class="main-list">
					<li><%= link_to_unless_current t('manage.menu.dashboard'), root_path, :class => "icon1" %></li>
					<li><%= link_to_unless_current t('manage.menu.structures'), index_path(:model_name => "structures"), :class=>"icon2" %></li>
					<li><%= link_to_unless_current t('manage.menu.users'), index_path(:model_name => "users"), :class=>"icon3" %></li>
					<li><a href="#" class="icon4">Сервисные модули?</a></li>
					<li><%= link_to_unless_current t('manage.menu.settings'), edit_path(:model_name => "settings"), :class=>"icon5" %></li>
				</ul>
				<ul class="inner-list">
          <li><a href="#">Новости</a></li>
          <li><a href="#">Награды</a></li>
          <li><a href="#">Вакансии</a></li>

          <li><a href="#">Резюме</a></li>
          <li><a href="#">Вопросы пользователей</a></li>
        </ul>
			</div>
		</div>
		
		<div id="actions-container" class="sub-wrapper create" style="display: none">
      <div class="sub-inner">
        <ul class="inner-list">
          <li><a href="#">Новости</a></li>
          <li><a href="#">Награды</a></li>
          <li><a href="#">Вакансии</a></li>
          <li><a href="#">Резюме</a></li>
          <li><a href="#">Вопросы пользователей</a></li>
        </ul>

      </div>
    </div>
		
		<div id="user-container" class="sub-wrapper user" style="display: none;">
      <div class="sub-inner">
        <ul class="inner-list">
          <li><%= link_to t('manage.buttons.edit_profile'), edit_path(:model_name => "users", :id => current_user.id) %></li>
          <li><%= link_to t('manage.buttons.exit'), main_app.destroy_user_session_path, :class=>"exit", :method => :delete %></li>
        </ul>
      </div>
    </div>
		
	</div>
</div>
