<div class="black-line">
  <div class="rel-holder">
    <div class="menu-holder">
      <ul class="main-menu">
        <% Sunrise::Config.nav.each do |key, value| %>
          <li>
            <%= link_to "##{key}", :class => "ddmenu", :rel => key do -%>
              <%= content_tag(:span, :class => key) do -%>
                <span class="arr"><%= t key, :scope => [:manage, :menu, :panel] %></span>
              <% end -%>
            <% end -%>
          </li>
        <% end -%>
      </ul>
      <ul class="main-menu right">
        <li><%= link_to t('manage.go_site'), main_app.root_path, :class => "watch" %></li>
        <li>
          <%= link_to index_path(:model_name => "users"), :class => "ddmenu", :rel => "user" do %>
            <span class="user">
              <span class="arr"><%= current_user.name %></span>
            </span>
          <% end %>
        </li>
        <!--<li><a href="#" class="minimize"><img src="images/top_hide.png" /></a></li>-->
      </ul>
    </div>

    <% Sunrise::Config.nav.each do |key, value| -%>
      <%= content_tag(:div, :id => "#{key}-container", :class => ["sub-wrapper", key], :style => "display: none;") do -%>
        <div class="sub-inner">
          <%= content_tag(:ul, :class => ["#{key}-list", "default-list"]) do -%>
            <% value.each do |item| %>
              <% if can? :read, item.name, :context => :sunrise %>
                <li><%= link_to_unless_current_span item.title, item.url, item.html_options %></li>
              <% end %>
            <% end %>
          <% end -%>
        </div>
      <% end -%>
    <% end -%>

    <div id="user-container" class="sub-wrapper user" style="display: none;">
      <div class="sub-inner">
        <ul class="inner-list">
          <% if can? :edit, current_user, :context => :sunrise %>
            <li><%= link_to t('manage.buttons.edit_profile'), edit_path(:model_name => "users", :id => current_user.id) %></li>
          <% end %>
          
          <li><%= link_to t('manage.buttons.exit'), main_app.destroy_user_session_path, :class=>"exit", :method => :delete %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
