<%= manage_form_for @record do |f| %> 
  <%= hidden_field_tag "parent_id", params[:parent_id] %>
  <%= hidden_field_tag "parent_type", params[:parent_type] %>
  
  <div class="edit-cont">
    <div class="inputs-bl">
      <% abstract_model.config.edit.fields.each do |field| %>
        <%= f.input field.name, field.input_options if field.visible?(f.object) %>
      <% end %>
    </div>
  </div>
  
  <%= f.button :submit, :url => scoped_index_path %>
<% end %>
